html, .App{
  background-color: grey;
}
header{
  height:8vh;
  background-color: black;
}
.wrapper{
  margin:0px 20px;
}
.site-title{
  font-size: 3em;
  color:grey;
}
.site-subtitle{
  color:#d49d93;
}
.mobile-title{
  float:right;
  font-size: 1.5em;
  color:grey;
}
label{
  text-align: left;
}
.search{
  background-color: black;
  padding:20px;
}
.main-input{
  background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/27269-200.png") no-repeat;
  padding-left:35px;
  background-size: contain;
  background-color: white;
}
.dropdown-menu{
  background-color: lightgray;
  position: relative;
  width:100%;
}
.results-wrapper{
  display: flex;
  justify-content: space-around;
}
/*.artist-pic-component{
}*/
.artist-searchbar{
  height:5vh;
}
.artist-results,.album-results{
  list-style: none;
  text-align: left;
  max-height:90vh;
  overflow: scroll;
  width:100%;
  padding:0px 5px;
}
.artist-results a, .album-results a {
  text-decoration: none;
  color:black;
}
.artist-results a li, .album-results a li {
  padding-left: 10px;
  border-radius: 2.5px;
}
.album-results a li:hover{
  text-decoration: none;
  background-color:#d49d93;
  color:black;
}
.artist-results a li:hover{
  text-decoration: none;
  background-color:#d49d93;
  color:black;
}
.album-toggle{
  display: flex;
  justify-content: space-around;
}
.fa-arrow-left, .fa-arrow-right{
  line-height: 45vh;
  font-size: 2em;
}
.fa-arrow-left:hover, .fa-arrow-right:hover{
  color:#d49d93;
}
.album-component{
}
.album-arrow, .album-arrow div{
  text-decoration: none;
  color:black;
}
.album-arrow:hover{
  text-decoration: none;
  color:azure;
}
.album-info{
  width:100%;
  padding:0px 5px;
  margin-top:10px;
}
.album-info div{
  text-align: center;
}
.album-info ol{
  padding-left:0px;
}
.tracks{
  text-align: left;
}
.track{
  display:flex;
  justify-content:space-between;
  border-bottom: 1px solid #797373;
}
@media(max-width:850px){
  .artist-pic{
    height:25vh;
    float:left;
  }
}
@media(min-width:992px){
  .tracks, .album-toggle{
    margin:0px 150px;
  }
}
@media(min-width:1200px){
  .tracks, .album-toggle{
    margin:0px 250px;
  }
}
