.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.dropdown-menu{
  background-color: lightgray;
  position: absolute;
  top:0;
  left:30vw;
}
.results-wrapper{
  display: flex;
  justify-content: center;
}
.artist-searchbar{
  height:10vh;
}
.artist-results,.album-results {
  list-style: none;
  text-align: left;
  width:35vw;
  /*max-height:35vh;*/
  overflow: scroll;
}
.artist-results a, .album-results a {
  text-decoration: none;
  color:black;
}
.artist-results a li:hover, .album-results a li:hover{
  text-decoration: none;
  background-color:tomato;
  color:black;
}
.album-results{

}
.tracks{
  text-align: left;
}
