html, .App{
  background-color: grey;
  padding-bottom:50px;
}
header{
  height:8vh;
  background-color: black;
}
.welcome-message{
  position: absolute;
  top:35%;
  margin:10vw;
  font-size: 2em;
  text-align: center;
}
.search label:nth-child(1), .welcome-message{
  color: #5f4949;
}
.wrapper{
  margin:0px 20px;
}
.main-app{
  width:97vw;
}
.site-title{
  font-size: 3em;
  color:grey;
}
.site-title a, .site-title a:hover{
  font-size: inherit;
  color:inherit;
  text-decoration: none;
}
.site-title a:hover{
  color:lightgrey;
}
.site-subtitle{
  color:#d49d93;
}
.mobile-title{
  float:right;
  font-size: 1.5em;
  color:grey;
}
label{
  text-align: left;
}
.search{
  background-color: black;
  padding:20px;
}
.search-clearfix{
  position:absolute;
  width:96vw;
  top:10vh;
}
.space-fill{
  height:0px;
}
.main-input{
  background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/27269-200.png") no-repeat;
  padding-left:35px;
  background-size: contain;
  background-color: white;
}

.dropdown-menu{
  background-color: lightgray;
  position: relative;
  display: flex;
  width:100%;
  justify-content: space-around;
}
/*.artist-pic-component{
}*/
.artist-searchbar{
  height:5vh;
  overflow:visible;
}
.artist-results,.album-results{
  list-style: none;
  text-align: left;
  max-height:90vh;
  overflow: scroll;
  width:100%;
  padding:0px 5px;
  margin-left:20px;
}
.artist-results a, .album-results a {
  text-decoration: none;
  color:black;
}
.artist-results a li{
  padding-left: 10px;
  border-radius: 2.5px;
}
.album-results a li {
  padding-left: 10px;
  border-radius: 2.5px;
}
.album-results a li:hover{
  text-decoration: none;
  background-color:#d49d93;
  color:black;
}
.artist-results a li:hover{
  text-decoration: none;
  background-color:#d49d93;
  color:black;
}
.album-toggle{
  display: flex;
  justify-content: space-around;
}
.fa-arrow-left, .fa-arrow-right{
  line-height: 45vh;
  font-size: 2em;
}
.fa-arrow-left:hover, .fa-arrow-right:hover{
  color:#d49d93;
}
.absolute{
  position: fixed;
  top:25vh;
}

.album-arrow, .album-arrow div{
  text-decoration: none;
  color:black;
}
.album-arrow:hover{
  text-decoration: none;
  color:azure;
}
.album-info{
  width:100%;
  padding:0px 5px;
  margin-top:10px;
}
.album-info div{
  text-align: center;
}
.album-info ol{
  padding-left:0px;
}
.tracks{
  text-align: left;
}
audio{
  display:none;
  width:100px;
  background-color:lightgrey;
  float:left;
}
.track{
  display:flex;
  height:35px;
  justify-content:space-between;
  border-bottom: 1px solid #797373;
}
@media(max-width:850px){
  .artist-pic{
    height:25vh;
    float:left;
  }
  .album-info{
    margin-left:5vw;
  }
  .main-input{
    width:90vw;
  }
  .search-clearfix{
    width:90vw;
  }
}
@media(max-width:825px){
  .space-fill{
    height:8vh;
  }
  header{
    display: none;
  }
}
@media(min-width:992px){
  .tracks, .album-toggle{
    margin:0px 150px;
  }
}
@media(min-width:1200px){
  .tracks, .album-toggle{
    margin:0px 250px;
  }
}
